.snake_nav {
  background-color: #b9d77f;
  padding: 2vh;
  font-size: 2.5vw;
  font-weight: 700;
  color: #0d4833;
}

.score_div {
  margin-top: 1vh;
  padding: 2vh 2vw;
}

.score_btn {
  margin-inline: 40vw;
  margin-bottom: 2vh;
  padding-block: 1.5vh;
  background-color: #b7e967c4;
  box-shadow: 0px 0px 8px #49474f;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.5vw;
}

.start_btn {
  background: rgb(34, 34, 29);
  color: rgb(226, 241, 195);
  border: none;
  border-radius: 1em;
  padding: 1.5vh 1.5vw;
  font-size: 1vw;
  box-shadow: 0px 0px 10px #252525;
  font-family: cursive;
  text-align: center;
}

.game_board {
  /* border: 3px double #786d6d;
  background: linear-gradient(rgb(190, 206, 146), rgb(254, 255, 195));
  margin: 2vh 2vw;
  border-radius: 1em; */

  border: 3px double #786d6d;
  background: linear-gradient(rgb(190, 206, 146), rgb(254, 255, 195));
  margin: 2vh auto;
  border-radius: 7px;
  box-sizing: border-box;
}

.game_over {
  border: 3px double #786d6d;
  background: #ffffff78;
  margin-block: 2vh;
  padding: 3vmin;
  border-radius: 0.3em;
  font-size: 2vw;
  font-weight: 600;
}
